@import 'global.css';

.align_middle {
    vertical-align: middle;
}
  
.margin_baseline {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.welcomeBlock {
    text-align: center;
}