nav li  > ul {
    display: none;

    & li{
        @apply text-slate-100;
    }
}

nav li.active {
    & ul {
        display: block;
    }
    
    & div {
        @apply bg-slate-200;
        display: block;
        color: black;
        font-weight: 500;
    }
}

nav li {
    & div {
        background-color: transparent !important;
    }
}


.code-description {
    line-height: 28px;
    & code {
        @apply text-[14px] bg-slate-100 rounded-lg p-1 m-2;
    }
}

.container {
    @apply sm:ml-0;
}

pre {
    @apply w-[100%];
    overflow-x: auto;
}